<!--<div ng-model = "message">{{message}}</div>-->
<h4>{{property.currentCategory}}</h4>
<form class="form-horizontal">
    <div class="form-group" ng-repeat='prop in property.propertyList'>
        <div class="checkbox col-md-12" ng-if="prop.type === 'boolean'">
            <label class = "col-md-3 control-label">
                {{prop.displayName}}
            </label>
            <input class="col-md-offset-3 col-md-9" type='checkbox' ng-model='property.baseTarget[prop.name]' ng-change="property.onChangeData()" ng-if="property.baseTarget[prop.name]=='1'" checked/>
            <input class="col-md-offset-3 col-md-9" type='checkbox' ng-model='property.baseTarget[prop.name]' ng-change="property.onChangeData()" ng-if="property.baseTarget[prop.name]!='1'"/>
        </div>

        <label ng-if="prop.type !== 'boolean'" class="col-md-3 control-label">{{prop.displayName}}</label>
        <div ng-if="prop.type !== 'boolean'" class="col-md-9">
            <input type='text' class="form-control" ng-model='property.baseTarget[prop.name]' ng-if="prop.type === 'text'" ng-blur="property.onChangeData()"/>

            <input type='number' class="form-control" ng-model='property.baseTarget[prop.name]' ng-if="prop.type === 'number'" ng-blur="property.onChangeData()"/>

            <input type='range' class="form-control" ng-model='property.baseTarget[prop.name]' ng-if="prop.type === 'numberRange'" ng-change="property.onChangeData()"/>

            <input type='color' class="form-control" ng-model='property.baseTarget[prop.name]' ng-if="prop.type === 'color'" ng-change="property.onChangeData()"/>
        </div>
    </div>
</form>
