<!--<div ng-model = "message">{{message}}</div>-->

<div class = "well" style="margin-left: -3% !important;"><h4><center>{{property.currentCategory}}</center></h4></div>

<form class="form-horizontal alignment" id="tabProperty">
    <div class="form-group" ng-repeat='prop in property.propertyList' ng-init="property.baseTarget[prop.name]=property.baseTarget[prop.name]||prop.defaultValue">        
        <span ng-if="prop.type === 'text'">
            <label for = "{{prop.displayName}}" class="col-md-7 control-label">{{prop.displayName}}</label>
            <span class = "col-md-12">
               <input type='text' id = "{{prop.displayName}}" class="form-control" ng-model='property.baseTarget[prop.name]'  ng-blur="property.onChangeData()"/>
            </span>
            
        </span>
        <span ng-if="prop.type === 'number'">
            <label for = "{{prop.displayName}}" class="col-md-7 control-label">{{prop.displayName}}</label>
            <span class = "col-md-5">
                <input type='text' id = "{{prop.displayName}}" class="form-control" ng-model='property.baseTarget[prop.name]' ng-blur="property.onChangeData()"/>
            </span>
            
        </span>
        <span ng-if="prop.type === 'numberRange'">
            <label for = "{{prop.displayName}}" class="col-md-7 control-label">{{prop.displayName}}</label>
            <span class = "col-md-5">
               <input type='range' id = "{{prop.displayName}}" class="form-control" ng-model='property.baseTarget[prop.name]'  ng-mouseup="property.onChangeData()"/>
            </span>
            
        </span>
        <span ng-if="prop.type == 'color'">
            <label for = "{{prop.displayName}}" class="col-md-7 control-label">{{prop.displayName}}</label>
            <span class = "col-md-5">
                <input type='color' id = "{{prop.displayName}}" class="form-control" ng-model='property.baseTarget[prop.name]' ng-mouseleave="property.onChangeData()"/>
            </span>
            
        </span>
        <span ng-if="prop.type == 'boolean'">
            <label for = "{{prop.displayName}}" class = "col-md-7 control-label">
                {{prop.displayName}}
            </label>
            <div class = "col-md-5">
               <input id = "{{prop.displayName}}" class="col-md-offset-3 col-md-9" type='checkbox' ng-model='property.baseTarget[prop.name]' ng-change="property.onChangeData()" ng-true-value="'1'" ng-false-value="'0'" ng-checked="property.baseTarget[prop.name]=='1'"/> 
            </div>
                       
            <!-- <div class="slider round"></div> -->
        </span>        
        <span ng-if="prop.type == 'select'">
            <label for = "{{prop.displayName}}" class="col-md-7 control-label">{{prop.displayName}} {{property.baseTarget[prop.name]}}</label>
            <div class = "col-md-5">
               <select class = "form-control" ng-model="property.baseTarget[prop.name]" ng-change="property.onChangeData()">
                  <option ng-repeat="item in prop.values"  value="{{item}}">{{item}}</option>
            </select>
            </div>
            

        </span>
        <hr class="col-md-11">
    </div>
</form>
