<div ng-app="fcLiveApp" ng-controller="TableCtrl">
    <ul class="nav nav-tabs" id="navTab">
        <li class="active">
            <a data-toggle="tab" ng-click="table.loadDiv('dataTable','dataJson')">Data</a>
        </li>
        <li>
            <a data-toggle="tab" ng-click="table.loadDiv('dataJson','dataTable')">JSON</a>
        </li>
    </ul>
    <div class="tab-content" id="tabContent">
        <div id="dataTable" class="tab-pane fade  in active visibleData dataTable">
            <div class="dataContainer row">
                <div class="column col-md-6 tableCaption">Category</div>
                <div class="column col-md-6 tableCaption">Values</div>
                <div class="column col-md-6" ng-repeat-start="ob in table.dataSet">
                    <div>
                        <input type="text" class="column col-md-12 textInput" ng-model="ob.label" ng-change="table.onChangeData()">
                    </div>
                </div>
                <div class="column col-md-6" ng-repeat-end>
                    <div>
                        <input type="text" class="column col-md-12 textInput" ng-model="ob.value" ng-change="table.onChangeData()">
                    </div>
                </div>
            </div>
        </div>        
        <div id="dataJson" class="tab-pane fade hiddenData">
            <textarea readonly class="form-control col-xs-13 textAreaClass" rows="8">{{table.content}}</textarea>
        </div>
    </div>
</div>