<!-- 
<div class = "row">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>label</th>
        <th>value</th>
      </tr>
    </thead>
    <tbody ng-app = "fcLiveApp" ng-controller = "TableCtrl" ng-init = "data = getData()">
      <tr ng-repeat = "ob in data">
        <td><input type = "text" ng-model = "ob.label"></td>
        <td><input type = "text" ng-model = "ob.value"></td>
      </tr>
    </tbody>
  </table>
</div> -->
<ul class="nav nav-tabs" id="navTab">
    <li class="active">
        <a data-toggle="tab" href="#dataTable">Data</a>
    </li>
    <li>
        <a data-toggle="tab" href="#dataJson">JSON</a>
    </li>
</ul>
<div class="tab-content" id="tabContent">
    <div id="dataTable" class="tab-pane fade in active">
        <div class="dataContainer row" ng-app="fcLiveApp" ng-controller="TableCtrl" ng-init="data = table.getData()">
            <div class="column col-md-6 tableCaption">Category</div>
            <div class="column col-md-6 tableCaption">Values</div>
            <div class="column col-md-6" ng-repeat-start="ob in data">
                <div>
                    <input type="text" class="column col-md-12 textInput" ng-model="ob.label" ng-blur="table.onChangeData()">
                </div>
            </div>
            <div class="column col-md-6" ng-repeat-end>
                <div>
                    <input type="text" class="column col-md-12 textInput" ng-model="ob.value" ng-blur="table.onChangeData()">
                </div>
            </div>
        </div>
    </div>
    <div id="dataJson" class="tab-pane fade">
		<textarea readonly class="form-control col-xs-12" rows="12">{{table.datajson}}</textarea>
    </div>
</div>
